// Font imports and stacks

@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700');
$main: "Cabin", "Helvetica", "Arial", sans-serif;

@font-face {
  font-family: 'password';
  src: url('../fonts/password.woff2') format('woff2'),
       url('../fonts/password.woff') format('woff'),
       url('../fonts/password.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$password: "password";

@import url('https://fonts.googleapis.com/css?family=Arimo');
$alt: "Arimo", "Helvetica", "Arial", sans-serif;

// Colors

$brand: #1D6A8D;
$brand-light: #1291C4;
$brand-alt: #036E9A;
$accent-pink: #FA216A;
$accent-orange: #FD9D11;
$accent-green: #69B25D;
$accent-yellow: #FEC315;

$link: #0088BF;
$text: #636466;
$text-dark: #455758;
$text-light: #ACB0B3;
$text-alt: #AAA5A5;
$text-alt-dark: #9B9B9B;
$text-disabled: #c6c6c7;
$text-disabled-dark: #bababa;
$text-dados: #a4a4a4;

$white: #ffffff;
$bg: #F1F1F1;
$bg-alt: #FBFBFB;
$border: #CCCCCC;
$white-alt: #F6F6F6;
$icon-bg-gray: #BDC5C8;
$icon-bg-dark: #595959;
$border-light: #D7D7D7;
$border-alt: #ededed;
$process-bg: #F0F0F0;
$process-border: #DCDCDC;
$dados-border: #BDC5C8;
$dados-focus: #f7f7f7;
$dados-focus-text: #8F9091;