// Font imports and stacks

@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700');
$main: "Cabin", "Helvetica", "Arial", sans-serif;

// Colors

$brand: #1D6A8D;
$accent-pink: #FA216A;
$accent-orange: #FD9D11;
$accent-green: #69B25D;

$link: #0088BF;
$text: #636466;
$text-dark: #455758;
$text-light: #ACB0B3;
$text-alt: #AAA5A5;
$text-alt-dark: #9B9B9B;

$white: #ffffff;
$bg: #F1F1F1;
$border: #CCCCCC;
$white-alt: #F6F6F6;
$icon-bg-gray: #BDC5C8;
$icon-bg-dark: #595959;