.modal {
    &-dialog {
        width: 90%;
        max-width: 1110px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;
        &--small {
            max-width: 705px;
            margin: 0;
        }
    }
    &-content {
        border: 0;
        box-shadow: none;
        border-radius: 0;
        &--rounded {
            border-radius: 5px;
        }
    }
    &__header {
        background-color: $brand;
        padding: 2.1875rem 2.1875rem 2.1875rem 3.75rem;
        &-title {
            font-size: 2rem;
            font-family: $main;
            color: $white;
        }
    }
    &__notifs {
        padding: 3.4375rem;
        &-pagination-wrapper {
            text-align: right;
        }
        &-pagination {
            margin-top: 2.0833rem;
            margin-left: 0;
            @include atSmall {
                margin-top: 1.5625rem;
            }
            &-item {
                cursor: pointer;
                font-family: $main;
                font-size: 1.3333rem;
                color: #a3a3a3;
                font-weight: 400;
                padding: 0 !important;
                @include atSmall {
                    font-size: 1rem;
                }
                &+& {
                    margin-left: 1.25rem !important;
                }
                &--active {
                    color: $brand;
                }
            }
        }
    }
    &__notif {
        font-family: $main;
        border-top: 1px solid $border;
        padding: 1.6667rem 16px;
        @include atSmall {
            padding: 1.25rem 16px;
            display: flex;
            align-items: center;
        }
        &:last-child {
            border-bottom: 1px solid $border;
        }
        &--read {
            background-color: $white-alt;
        }
        &-column {
            position: relative;
        }
        &-img {
            height: 20px;
            width: auto;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        &-title {
            font-weight: 400;
            font-size: 1.3333rem;
            color: $icon-bg-dark;
            padding-left: 1.5rem;
            @include atSmall {
                padding-left: 1rem;
                font-size: 1rem;
            }
        }
        &-date {
            font-weight: 500;
            color: #a3a3a3;
            font-size: 1.1667rem;
            padding-left: 1.5rem;
            margin: 1rem 0;
            @include atSmall {
                padding-left: 0;
                margin: 0;
                text-align: center;
                font-size: 0.875rem;
            }
        }
        &-text {
            font-weight: 400;
            font-size: 1rem;
            padding-left: 1.5rem;
            color: $text-alt-dark;
            @include atSmall {
                padding-left: 0;
                font-size: 0.75rem;
            }
        }
    }
    &__close {
        position: absolute;
        top: -3rem;
        right: 0;
        &-img {
            cursor: pointer;
            width: 1.5625rem;
            height: 1.5625rem;
        }
    }
    &__notification {
        font-family: $main;
        &-content {
            padding: 5.875rem 8rem;
        }
        &-copy {
            border-top: 1px solid $border;
            position: relative;
            &:before,
            &:after {
                cursor: pointer;
                content: "";
                position: absolute;
                top: 50%;
                width: 3rem;
                height: 3rem;
                background-image: url("../images/notif-control.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
            &:before {
                transform: translateY(-50%) scaleX(-1);
                left: -5.5rem;
            }
            &:after {
                transform: translateY(-50%);
                right: -5.5rem;
            }
        }
        &-paragraph {
            font-size: 1.5rem;
            color: $icon-bg-dark;
            margin-top: 2rem;
            font-weight: 400;
            @include atSmall {
                font-size: 1.125rem;
            }
        }
        &-date,
        &-time {
            font-size: 1.3333rem;
            font-weight: 500;
            @include atSmall {
                font-size: 1rem;
            }
        }
        &-header {
            padding-bottom: 2rem;
            @include atSmall {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }
        }
        &-title {
            font-weight: 500;
            font-size: 2.0833rem;
            color: $brand;
            @include atSmall {
                font-size: 1.5625rem;
                display: inline-block;
            }
        }
        &-info {
            margin-top: 1rem;
            @include atSmall {
                margin-top: 0;
                display: inline-block;
                text-align: right;
            }
        }
        &-date {
            color: $icon-bg-dark;
            margin-bottom: 0.5rem;
        }
        &-time {
            color: #A3A3A3;
        }
        &-footer {
            margin-top: 7.5rem;
        }
        &-back,
        &-number {
            cursor: pointer;
            font-weight: 500;
            font-size: 1.6667rem;
            @include atSmall {
                font-size: 1.25rem;
                display: inline-block;
            }
        }
        &-back {
            color: $brand;
        }
        &-number {
            color: $accent-orange;
            margin-top: 1rem;
            @include atSmall {
                float: right;
                margin-top: 0;
            }
        }
    }
    &__password {
        padding: 4.5rem 2rem 4.58333rem 2rem;
        @include atSmall {
            padding: 3.875rem 2rem 3.4375rem 2rem;
            display: flex;
            justify-content: center;
        }
        @include atSmall {
            display: flex;
            align-items: center;
        }
        &-img {
            margin: 0 auto;
            @include atSmall {
                margin: 0;
                display: inline-block;
            }
        }
        &-copy,
        &-confirm {
            @include atSmall {
                width: 40%;
                display: inline-block;
                margin-left: 2.8125rem;
            }
            @include atMedium {
                width: 30%;
            }
            @include atLarge {
                width: 50%;
            }
        }
        &-confirm {
            display: none;
        }
        &-title {
            font-family: $main;
            color: $accent-orange;
            font-size: 2.08333rem;
            font-weight: 400;
            margin-bottom: 1rem;
            @include atSmall {
                font-size: 1.5625rem;
            }
            &--alt {
                margin-bottom: 0;
            }
        }
        &-text,
        &-terminal {
            font-family: $main;
            font-size: 1.333rem;
            color: $text;
            font-weight: 400;
            display: inline-block;
            @include atSmall {
                font-size: 1rem;
            }
            &--light {
                color: $text-alt-dark;
                font-size: 1.1667rem;
                @include atSmall {
                    font-size: 0.875rem;
                }
            }
            &--big {
                font-size: 1.5rem;
                margin: 2.667rem 0;
                @include atSmall {
                    margin: 2rem 0;
                    font-size: 1.125rem;
                }
            }
        }
        &-link {
            color: $brand-light;
            text-decoration: none;
            font-weight: 700;
            &:link,
            &:hover,
            &:focus,
            &:visited {
                color: $brand-light;
                text-decoration: none;
            }
        }
        &-terminal {
            display: block;
            font-size: 2rem;
            margin-bottom: 1.333rem;
            @include atSmall {
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }
        }
        &-info {
            &-item {
                &+& {
                    margin-top: 0.75rem;
                }
                &-label {
                    width: 50%;
                    @include atLarge {
                        width: 25%;
                    }
                }
            }
        }
        &-btn {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            height: 4rem;
            border-radius: 5px;
            width: 45%;
            float: left;
            font-family: $main;
            color: $white;
            font-size: 1.667rem;
            font-weight: 400;
            @include atSmall {
                font-size: 1.25rem;
                height: 3.5rem;
            }
            &+& {
                margin-left: 1.6667rem;
                @include atSmall {
                    margin-left: 1.25rem;
                }
            }
            &--green {
                background-color: $accent-green;
            }
            &--pink {
                background-color: $accent-pink;
            }
            &--blue {
                background-color: $brand-light;
            }
        }
    }
    &__help {
        padding: 4.5rem 2rem 4.58333rem 2rem;
        @include atSmall {
            padding: 3.875rem 2rem 3.4375rem 2rem;
            display: flex;
            justify-content: center;
        }
        @include atSmall {
            display: flex;
            align-items: center;
        }
        &-img {
            margin: 0 auto;
            @include atSmall {
                margin: 0;
                display: inline-block;
            }
        }
        &-copy {
            @include atSmall {
                width: 40%;
                display: inline-block;
                margin-left: 2.8125rem;
            }
            @include atMedium {
                width: 30%;
            }
            @include atLarge {
                width: 50%;
            }
        }
        &-title {
            font-family: $main;
            color: $accent-orange;
            font-size: 2.08333rem;
            font-weight: 400;
            @include atSmall {
                font-size: 1.5625rem;
            }
            &--alt {
                margin-bottom: 0;
            }
        }
        &-text,
        &-confirmed {
            font-family: $main;
            font-size: 1.333rem;
            color: $text;
            font-weight: 400;
            @include atSmall {
                font-size: 1rem;
            }
            &--light {
                color: $text-alt-dark;
                font-size: 1.1667rem;
                @include atSmall {
                    font-size: 0.875rem;
                }
            }
            &--big {
                font-size: 1.5rem;
                margin: 2.667rem 0 1.333rem 0;
                @include atSmall {
                    margin: 2rem 0 1rem 0;
                    font-size: 1.125rem;
                }
            }
        }
        &-confirmed {
            text-align: center;
            display: none;
            &-img {
                width: 8rem;
                height: auto;
                margin: 0 auto;
            }
            &-title {
                font-family: $main;
                color: $accent-green;
                font-size: 1.6667rem;
                font-weight: 700;
                margin: 3.75rem 0 1rem 0;
                @include atSmall {
                    font-size: 1.25rem;
                }
            }
            &-subtitle {
                font-family: $main;
                color: $text-alt-dark;
                font-size: 1.5rem;
                font-weight: 400;
                margin-bottom: 4.125rem;
                @include atSmall {
                    font-size: 1.125rem;
                }
            }
        }
        &-info {
            &-item {
                margin-top: 1.6667rem;
                @include atSmall {
                    margin-top: 1.25rem;
                }
            }
        }
        &-btn {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            height: 4rem;
            border-radius: 5px;
            width: 45%;
            font-family: $main;
            color: $white;
            font-size: 1.667rem;
            font-weight: 400;
            @include atSmall {
                font-size: 1.25rem;
                height: 3.5rem;
            }
            &--brand {
                background-color: $brand;
            }
        }
        &-message {
            background-color: #f5f5f5;
            color: rgba(155, 155, 155, 0.5);
            font-family: $main;
            font-size: 1.3333rem;
            padding: 1.333rem;
            height: 10.8333rem;
            width: 100%;
            font-weight: 400;
            margin-bottom: 1.6667rem;
            @include atSmall {
                font-size: 1rem;
                padding: 1rem;
                height: 8.125rem;
                margin-bottom: 1.25rem;
            }
            &::placeholder {
                color: rgba(155, 155, 155, 0.5);
            }
        }
    }
    &__senha {
        &-content {
            padding: 2rem 4rem 2rem 2rem;
        }
        &-text {
            font-family: $main;
            font-size: 1.5rem;
            color: $text-dados;
            font-weight: 400;
            @include atSmall {
                font-size: 1.125rem;
            }
            &--pink {
                color: $accent-pink;
            }
            &--accent {
                font-weight: 700;
            }
        }
    }
}
